<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Parece que você solicitou uma troca de senha para sua conta.</p>
  <p>Caso necessite resetar sua senha, clique no botão abaixo:</p>

  <p>
    <a href="{{link}}">Resetar minha senha</a>
  </p>

  <p>Caso você não tenha solicitado, então descarte esta mensagem!</p>
  <p>
    Obrigado! <br /><strong>Equipe rocksBarber</strong>
  </p>
</div>
